*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    height: 50px;
    width:100%;
    background-color: rgb(161, 96, 10);
    display: flex;
}
.header .logo{
    display: flex;
    justify-content: center;
}
.header .logo a img{
    height: 100%;
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
}
.header .logo .menu-search{
  margin: auto 20px;
}
.header .logo .menu-search button{
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(241, 216, 70);
}
.header .logo .menu-search input{
  padding: 5px 10px;
  margin-left: 50px;
  border:none;
  background-color: rgb(238, 226, 210)
}
.header .menu{
   margin: 0px auto;
   margin-right: 100px;
}

.header .menu ul{
    display: flex;
    list-style: none;
}
.header .menu ul li{
    text-align: center;
    line-height: 50px;
    margin: 0px 20px;
    color: #fff;
    cursor: pointer;
}
.header .menu ul li:hover{
    font-size: 25px;
}
.product-buy{
    display: flex;
    margin: 50px;
    margin-left: 100px;
}
.product-buy .product-buy-item{
    flex-basis: 30%;
}
.product-buy .product-buy-item img{
    width: 100%;
}
