*{
    margin: 0px;
    padding: 0px;
}

.login{
    height: 300px;
    width: 400px;
    background-color: aqua;
    margin: 15% auto ;
   box-sizing: border-box;
}
.login-title{
   
    text-align: center;
}

.login-item{
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
}
.mess{
   
}
.mess{
    display:block;
}
.login-item *{
    margin-left: 20px;}